@font-face {
	font-family: "Flaticon";
	src: url("static/fonts/flaticon.eot");
	src: url("static/fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("static/fonts/flaticon.woff") format("woff"),
	url("static/fonts/flaticon.ttf") format("truetype"),
	url("static/fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotobold';
	src: url('static/fonts/Roboto-Bold-webfont.eot');
	src: url('static/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('static/fonts/Roboto-Bold-webfont.woff') format('woff'),
	url('static/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
	url('static/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'robotolight';
	src: url('static/fonts/Roboto-Light-webfont.eot');
	src: url('static/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('static/fonts/Roboto-Light-webfont.woff') format('woff'),
	url('static/fonts/Roboto-Light-webfont.ttf') format('truetype'),
	url('static/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-style: normal;
}
.flaticon-add186:before {
	 content: "\e000";
}
.flaticon-back57:before {
	content: "\e001";
}
.flaticon-check52:before {
	content: "\e002";
}
.flaticon-close47:before {
	content: "\e003";
}
.flaticon-cpu5:before {
	content: "\e004";
}
.flaticon-download164:before {
	content: "\e005";
}
.flaticon-hard-drive:before {
	content: "\e006";
}
.flaticon-rubbish:before {
	content: "\e007";
}
.flaticon-server40:before {
	content: "\e008";
}
.flaticon-voice32:before {
	content: "\e009";
}